<div data-role="footer" data-id="menu" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#talks" >Talks</a></li>
			<li><a href="#speakers" >Speakers</a></li>
			<li><a href="#sponsors">Sponsors</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->