<div data-role="page" id="sponsors" data-title="Sponsors @ SunshinePHP 2014">
	<div data-role="header">
		<h1>Sponsors</h1>
	</div><!-- /header -->

	<div data-role="content" style="text-align: center">

        <h2>Platinum</h2>
        <a href="http://windowsazure.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/windows_azure.png" /></a>
        <h2>Silver</h2>
        <a href="http://zend.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/zend.png" /></a>
        <a href="http://engineyard.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/engineyard.png" /></a>
        <a href="http://www.appdynamics.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/appdynamics.png" /></a>
        <h2>Bronze</h2>
        <a href="http://in2it.be/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/in2it.png" /></a>
        <a href="http://www.mysql.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/mysql.png" /></a>
        <a href="http://knpuniversity.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/knp.png" /></a>
        <a href="http://foxycart.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/foxycart.png" /></a>
        <a href="http://newrelic.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/new_relic.png" /></a>
        <a href="http://github.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/github.png" /></a>
        <a href="http://rackspace.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/rackspace.png" /></a>
        <a href="http://rangertechnical.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/ranger.png" /></a>
        <a href="http://revelex.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/revelex.png" /></a>
        <h2>Copper</h2>
        <a href="http://roave.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/roave.png" /></a>
        <a href="http://www.jetbrains.com/phpstorm/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/phpstorm.png" /></a>
        <a href="http://mozilla.org/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/mozilla.png" /></a>
        <h2>Laynards</h2>
        <a href="http://servergrove.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/sg_lanyards.png" /></a>
        <h2>Uncon Sponsor</h2>
        <a href="http://constantcontact.com/"><img src="http://2014.sunshinephp.com/img/sponsor_badges/constantcontact.png" /></a>

	</div><!-- /content -->

    {% include "_footer.html.twig" %}
</div>
