<div data-role="page" id="sponsors" data-title="Sponsors @ SunshinePHP 2013">
	<div data-role="header">
		<h1>Sponsors</h1>
	</div><!-- /header -->

	<div data-role="content" style="text-align: center">

        <h2>Platinum</h2>
        <a href="http://sensiolabs.com"><img src="http://sunshinephp.com/images/sponsor_badges/sensio.png" /></a>
        <h2>Gold</h2>
        <a href="http://aka.ms/SunshinePHP"><img src="http://sunshinephp.com/images/sponsor_badges/windows_azure.png" /></a>
        <h2>Silver</h2>
        <a href="http://servergrove.com/"><img src="http://sunshinephp.com/images/sponsor_badges/servergrove.png" /></a>
        <a href="http://ahoy.twilio.com/sunshinephp"><img src="http://sunshinephp.com/images/sponsor_badges/twilio.png" /></a>
        <a href="http://mashery.com/"><img src="http://sunshinephp.com/images/sponsor_badges/mashery.png" /></a>
        <h2>Bronze</h2>
        <a href="http://in2it.be/"><img src="http://sunshinephp.com/images/sponsor_badges/in2it.png" /></a>
        <a href="http://www.mysql.com/"><img src="http://sunshinephp.com/images/sponsor_badges/mysql.png" /></a>
        <a href="http://engineyard.com/"><img src="http://sunshinephp.com/images/sponsor_badges/engineyard.png" /></a>
        <h2>Copper</h2>
        <a href="http://knpuniversity.com/"><img src="http://sunshinephp.com/images/sponsor_badges/knp.png" /></a>
        <a href="http://10gen.com/"><img src="http://sunshinephp.com/images/sponsor_badges/10gen.png" /></a>
        <a href="http://foxycart.com/"><img src="http://sunshinephp.com/images/sponsor_badges/foxycart.png" /></a>
        <a href="http://moredirect.com/"><img src="http://sunshinephp.com/images/sponsor_badges/moredirect.png" /></a>
        <a href="http://newrelic.com/"><img src="http://sunshinephp.com/images/sponsor_badges/new_relic.png" /></a>
        <a href="http://github.com/"><img src="http://sunshinephp.com/images/sponsor_badges/github.png" /></a>
        <a href="http://www.jetbrains.com/phpstorm/"><img src="http://sunshinephp.com/images/sponsor_badges/phpstorm.png" /></a>
        <a href="http://truenorthphp.ca/"><img src="http://sunshinephp.com/images/sponsor_badges/truenorth.png" /></a>
        <a href="http://adobe.com/"><img src="http://sunshinephp.com/images/sponsor_badges/adobe.png" /></a>
        <a href="http://tekpartners.com/"><img src="http://sunshinephp.com/images/sponsor_badges/tekpartners.png" /></a>
        <h2>Laynards</h2>
        <a href="http://servergrove.com/"><img src="http://sunshinephp.com/images/sponsor_badges/sg_lanyards.png" /></a>
        <h2>Media Sponsors</h2>
        <a href="http://webandphp.com/"><img src="http://sunshinephp.com/images/sponsor_badges/webandphpmagazine.png" /></a>
        <a href="http://sherlocktech.com/"><img src="http://sunshinephp.com/images/sponsor_badges/sherlocktech.png" /></a>
        <a href="http://phparch.com/"><img src="http://sunshinephp.com/images/sponsor_badges/phparchitect.png" /></a>
        <a href="http://phpdeveloper.org/"><img src="http://sunshinephp.com/images/sponsor_badges/phpdeveloper.png" /></a>
        <a href="http://phpday.it/"><img src="http://sunshinephp.com/images/sponsor_badges/phpday.png" /></a>
        <h2>Other Sponsors</h2>
        <a href="http://www.gosphero.com/"><img src="http://sunshinephp.com/images/sponsor_badges/sphero.png" /></a>
        <a href="http://www.oreilly.com/"><img src="http://sunshinephp.com/images/sponsor_badges/oreilly.png" /></a>

	</div><!-- /content -->

    {% include "_footer.html.twig" %}
</div>
