<div data-role="page" id="sponsors" data-title="Sponsors @ SunshinePHP 2014">
    <div data-role="header">
        <h1>Sponsors</h1>
    </div>
    <!-- /header -->

    <div data-role="content" style="text-align: center">

        <h2>Silver</h2>
        <a href="http://foxycart.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/foxycart.png"/></a>
        <a href="http://www.jetbrains.com/phpstorm/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/phpstorm.png"/></a>
        <a href="http://www.digitalocean.com/phpstorm/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/digitalocean.png"/></a>
        <a href="http://zend.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/zend.png"/></a>
        <a href="http://github.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/github.png"/></a>
        <a href=""><img src="http://2015.sunshinephp.com/img/sponsor_badges/phpdevhired.png"/></a>
        <a href="http://servergrove.com/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/servergrove.png"/></a>

        <h2>Bronze</h2>
        <a href="http://knpuniversity.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/knp.png"/></a>
        <a href="http://mysql.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/mysql.png"/></a>
        <a href="http://rangertechnical.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/ranger.png"/></a>
        <a href="https://aws.amazon.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/amazon.png"/></a>


        <h2>Copper</h2>
        <a href="http://roave.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/roave.png"/></a>
        <a href="http://saucelabs.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/saucelabs.png"/></a>
        <a href="http://www.lighthouseguidancesystems.com/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/lighthouse.png"/></a>
        <a href="http://blackfire.io/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/blackfire.png"/></a>

        <h2>Laynards</h2>
        <a href="https://codeclimate.com/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/codeclimate.png"/></a>

        <h2>Speakers Dinner</h2>
        <a href="http://www.pluralsight.com/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/pluralsight.png"/></a>

        <h2>Hackaton</h2>
        <a href="http://in2it.be/"><img src="http://2015.sunshinephp.com/img/sponsor_badges/in2it.png"/></a>

        <h2>Other</h2>
        <a href="http://oreilly.com/"><img
                    src="http://2015.sunshinephp.com/img/sponsor_badges/oreilly.png"/></a>

    </div>
    <!-- /content -->

    {% include "_footer.html.twig" %}
</div>
