<!DOCTYPE html>
<html>
<head>
	<title>SunshinePHP 2013 Mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <!-- version 0.5 -->
</head>
<body>

<div data-role="page" id="talks">

	<div data-role="content">
        <div style="text-align: center">
            <a href="http://sunshinephp.com/">
                <img border="0" style="width: 100%; max-width:450px" src="http://sunshinephp.com/wp-content/uploads/2012/10/cropped-sunshine_php_logo.png" alt="SunshinePHP 2013"/>
            </a>
        </div>
        <div data-role="collapsible-set" data-inset="false">

            <div data-role="collapsible">
                <h2>Day 1 - Friday Feb 8th, 2013</h2>
                {% include "_talks.html.twig" with {'filter': 'Friday'}%}

            </div>
            <div data-role="collapsible">
                <h2>Day 2 - Saturday Feb 9th, 2013</h2>
                {% include "_talks.html.twig" with {'filter': 'Saturday'}%}
            </div>


        </div>

        <a href="https://maps.google.com/maps?q=Embassy+Suites+Miami+International&hl=en&sll=25.782408,-80.229458&sspn=0.204964,0.314484&hq=Embassy+Suites+Miami+International&t=m&z=12" data-role="button" data-mini="true">Venue</a>

	</div><!-- /content -->

    {% include "_footer.html.twig" %}
</div><!-- /page -->


{% include "_sponsors.html.twig" %}
{% include "_speakers.html.twig" %}
{% include "_bio_pages.html.twig" %}
{% include "_talk_pages.html.twig" with {'filter': 'Friday'} %}
{% include "_talk_pages.html.twig" with {'filter': 'Saturday'} %}

</body>
</html>